<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.xo2021">
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:icon="@mipmap/ic_launcher"
        android:label="XO game"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
        android:allowBackup="true"
        android:fullBackupContent="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginActivity1"
            android:exported="true" />
        <activity android:name=".loginActivity2"
            android:exported="true" />
        <activity android:name=".modeActivity"
        android:exported="true" />
        <activity android:name=".PlayActivity1"
            android:exported="true"/>
        <activity android:name=".PlayActivity2"
        android:exported="true"/>
        <activity android:name=".EndActivity"
            android:exported="true"/>
    </application>

</manifest>